@charset "utf-8";
*{box-sizing:border-box;
margin:0;
padding:0;
list-style-type:none;
font-family:"나눔고딕","굴림","맑은 고딕";}
a{text-decoration:none;color:inherit;}
body{width:100%;color:#000;}
.wrap{margin:0 auto;width:1920px;height:2900px;}

.header{
    width:1920px;
    height:150px;
    
    position:relative;
}
.logo img{
    width:130px;
    height:100px;
    margin-top:50px;
    position:absolute;
    margin-left:70px;
}
.top_menu{
    width:220px;
    float:right;
}
.top_menu>li{
    display:inline-block;
    float:left;
    margin-top:10px;
}
.top_menu>li>a{
    margin:5px;
}
.header_line{
    border:1px solid #eadec6;
    width:1920px;
    height:2px;
}
.header_box{
    width:1200px;
    height:40px;
    margin-left:490px;
    position:absolute;
    margin-top:80px;
}
.header_box>li{
    width:200px;
    height:40px;
    line-height:40px;
    display:inline-block;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    margin-left:-5px;
}
.header_box>li>a{
    
}
.sub_menu{
    position:absolute;
    z-index:3;
    display:none;
     box-shadow:0 5px 20p #bbb;
}
.sub_menu>li{
    width:200px;
    height:40px;
    line-height:40px;
    background:#fff;
    text-align:center;
    font-size:15px;
    
}
.header_box>li>a:hover{
    border-bottom:2px solid #84674d; padding-bottom:5px;
}
.sub_menu>li>a:hover{
    border-bottom:2px solid #84674d; padding-bottom:5px;
}
.sub_menu_background{
    position:absolute;
    width:1920px;
    height:200px;
    background:#fff;
    z-index:1;
    box-shadow:0px 7px 10px 0px #bbb;
    margin-left:-490px;
    display:none;
}
.sub_menu_background img{
    position:absolute;
    width:250px;
    margin-left:240px;
    z-index:1;
}
.menu>h1{
    font-size:60px;
    margin-top:100px;
    margin-left:890px;
}
.banner img{
    margin-left:450px;
    margin-top:40px;
}
.bing_su_txt{
    margin-left:460px;
    margin-top:200px;
}
.bing_su_txt>h1{
    font-size:75px;
}
.bing_su_txt>p{
    font-size:35px;
    margin-top:30px;
}
.bing_su_more{
    border:1px solid #000;
    width:240px;
    height:70px;
    margin-left:460px;
    margin-top:40px;
}
.bing_su_more>p{
    font-size:25px;
    text-align:center;
    line-height:70px;
}
.bing_su{
    clear:both;
    position:relative;
    width:660px;
    height:600px;
    float:right;
    margin-top:-400px;
    margin-right:160px;
}
.bing_su_img{
    position:absolute;
    z-index:1;
    margin-left:-80px;
}
.bing_su_img img{
    width:590px;
    height:590px;
}
.bing_su:hover{
    transform: scale(1.2);
}
.bing_su_img2{
    position:absolute;
    margin-left:200px;
    margin-top:30px;
}
.bing_su_img2 img{
    width:500px;
    height:500px;
}
.dessert_txt{
    float:right;
    margin-right:-600px;
    margin-top:260px;
}
.dessert_txt>h1{
    font-size:75px;
    text-align:right;
    margin-right:180px;
}
.dessert_txt>p{
    font-size:35px;
    margin-top:30px;
    margin-left:30px;
    text-align:right;
    margin-right:180px;
}
.dessert_more{
    float:right;
    border:1px solid #000;
    width:240px;
    height:70px;
    margin-right:-600px;
    margin-top:440px;
}
.dessert_more>p{
    font-size:25px;
    text-align:center;
    line-height:70px;
}
.dessert{
    position:relative;
    width:660px;
    height:600px;
    margin-left:230px;
    margin-top:120px;
}
.dessert:hover{
    transform: scale(1.2);
}
.dessert_img{
    position:absolute;
    z-index:1;
    margin-left:-80px;
}
.dessert_img img{
    width:590px;
    height:590px;
}
.dessert_img2{
    position:absolute;
    margin-left:140px;
    margin-top:-50px;
}
.dessert_img2 img{
    width:500px;
    height:500px;
}
.drink_txt{
    margin-left:440px;
    margin-top:50px;
}
.drink_txt>h1{
    font-size:75px;
}
.drink_txt>p{
    font-size:35px;
    margin-top:30px;
}
.drink_more{
    border:1px solid #000;
    width:240px;
    height:70px;
    margin-left:440px;
    margin-top:40px;
}
.drink_more>p{
    font-size:25px;
    text-align:center;
    line-height:70px;
}
.drink{
    clear:both;
    position:relative;
    width:660px;
    height:600px;
    float:right;
    margin-top:-400px;
    margin-right:120px;
}
.drink:hover{
    transform: scale(1.2);
}
.drink_img{
    position:absolute;
    z-index:1;
    margin-left:-80px;
}
.drink_img img{
    width:450px;
    height:450px;
}
.drink_img2{
    position:absolute;
    margin-left:200px;
    margin-top:25px;
}
.drink_img2 img{
    width:350px;
    height:350px;
    margin-top:70px;
}
.md_txt{
    float:right;
    margin-right:-600px;
    margin-top:260px;
}
.md_txt>h1{
    font-size:75px;
    text-align:right;
    margin-right:180px;
}
.md_txt>p{
    font-size:35px;
    margin-top:30px;
    margin-left:30px;
    text-align:right;
    margin-right:180px;
}
.md_more{
    float:right;
    border:1px solid #000;
    width:240px;
    height:70px;
    margin-right:-600px;
    margin-top:440px;
}
.md_more>p{
    font-size:25px;
    text-align:center;
    line-height:70px;
}
.md{
    position:relative;
    width:660px;
    height:600px;
    margin-left:230px;
    margin-top:120px;
}
.md:hover{
    transform: scale(1.2);
}
.md_img{
    position:absolute;
    z-index:1;
    margin-left:-80px;
}
.md_img img{
    width:590px;
    height:590px;
}
.md_img2{
    position:absolute;
    margin-left:140px;
    margin-top:-50px;
}
.md_img2 img{
    width:500px;
    height:500px;
}
.footer{
    width:1920px;
    height:150px;
    position:relative;
}
.footer_menu{
    position:absolute;
    margin-left:125px;
    margin-top:10px;
}
.footer_menu>li{
    display:inline-block;
    margin:20px;
    font-size:15px;
}
.copyright{
    position:absolute;
    margin-top:80px;
    margin-left:140px;
    font-size:15px;
}
.footer_logo{
    position:absolute;
    margin-left:1570px;
    margin-top:60px;
}
.footer_logo img{
    width:110px;
    height:85px;
}